/* .navbar{
    background-color: transparent !important;
    position: absolute;
    z-index: 2;
}
.carro{
    position: absolute;
    z-index: 1;
} */

.navbar{
    background: burlywood;
  }
  
  hr {
    border: 0;
    border-top: 1px solid rgb(29, 29, 29); 
    border-bottom: 1px solid rgb(26, 25, 25);
    height:0;
    margin-top: 0.7rem;
    margin-bottom: 1rem;
    }